{{ $fhmedia := .Params.fhmedia }}

{{ range $fhmedia }}
    {{ $n := "Direkt-Link FH-Medienportal" }}
    {{ with index . "name" }}
        {{ $n = . }}
    {{ end }}

    {{ $l := "" }}
    {{ with index . "id" }}
        {{ $l = printf "https://www.fh-bielefeld.de/medienportal/m/%s" . }}
    {{ end }}
    {{ with index . "link" }}
        {{ $l = . }}
    {{ end }}

    {{ if $l }}
    <div class="fhmedia">
        <a href="{{- $l | safeURL -}}" target="_blank" rel="nofollow noopener noreferrer">{{- $n -}}</a>
    </div>
    {{ end }}
{{ end }}
