{{ $tldr := .Resources.Match "tldr.md" }}
{{ $yt := .Params.youtube }}
{{ $fh := .Params.fhmedia }}

{{ if or $tldr (or $yt $fh) }}
<div class="tldr">
    <h2>TL;DR</h2>

    {{ range $tldr }}
        {{ .Content }}
    {{ end }}

    {{ range $yt }}
        {{ with index . "name" }}
            <h3>{{ . }}</h3>
        {{ end }}
        {{ with index . "id" }}
            {{ partial "youtube.html" "https://www.youtube-nocookie.com/embed/{{- . -}}" }}
        {{ end }}
        {{ with index . "link" }}
            {{ partial "youtube.html" . }}
        {{ end }}
    {{ end }}

    {{ with $fh }}
        <h3>Direkt-Link FH-Medienportal</h3>
        {{ range . }}
            {{ partial "fhmedia.html" . }}
        {{ end }}
    {{ end }}
</div>
{{ end }}
