{{ $tldr := .Resources.Match "tldr.md" }}
{{ $yt := .Params.youtube }}
{{ $fh := .Params.fhmedia }}

{{ if or $tldr (or $yt $fh) }}
<div class="tldr">
    <h2>TL;DR</h2>

    {{ range $tldr }}
        {{ .Content }}
    {{ end }}

    {{ range $yt }}
        {{ with index . "id" }}
        <div class="embed-video-player">
            <iframe class="youtube-player" src="https://www.youtube-nocookie.com/embed/{{- . | safeURL -}}" title="YouTube video player" allowfullscreen></iframe>
        </div>
        {{ end }}
    {{ end }}

    {{ with $fh }}
    <div class="fhmedia">
        <a href="https://www.fh-bielefeld.de/medienportal/m/{{- . | safeURL -}}">Direkt-Link FH-Medienportal</a>
    </div>
    {{ end }}
</div>
{{ end }}
