## ignore Makefile
Makefile

## ignore Dockerfile
Dockerfile
docker/Dockerfile.ubuntu

## ignore Misc
.git
.github
.dockerignore
.editorconfig
.gitattributes
.gitignore
action.yml
README.md
LICENSE.md
CONTRIBUTING.md
