{{ $assignments := .Params.assignments }}
{{ $schedule := .Site.Data.schedule }}
{{ if .Site.IsMultiLingual }}
    {{ $data := index .Site.Data .Site.Language.Lang }}
    {{ $schedule = $data.schedule }}
{{ end }}

{{ if $assignments }}

    {{ $c := "<ul>" }}
    {{ range $assignments }}
        {{ $topic := index . "topic" }}
        {{ $due := "" }}
        {{ range $schedule }}
            {{ range index . "assignment" }}
                {{ if eq ($topic) (index . "topic") }}
                    {{ with index . "due" }}{{ $due = . }}{{ end }}
                {{ end }}
            {{ end }}
        {{ end }}

        {{ with $.Site.GetPage $topic }}
            {{ $c = printf "%s <li><a href='%s' class='icon reading' target='_blank' rel='nofollow noopener noreferrer'>%s</a>" $c (.Permalink | safeURL) .Title }}
            {{ with $due }}{{ $c = printf "%s (Abgabe: %s)" $c . }}{{ end }}
            {{ $c = printf "%s</li>" $c }}
        {{ end }}
    {{ end }}
    {{ $c = printf "%s</ul>" $c }}

    {{ partial "shortcodes/notice.html" (dict
        "page" .
        "style" "note"
        "icon" "fas fa-laptop-code"
        "title" "Übungsblätter/Aufgaben"
        "content" $c
    )}}

{{ end }}
