{{ $attachments := .Params.attachments }}
{{ $title       := .Scratch.Get "attachments_title" | default "Materialien" }}

{{ if $attachments }}

    {{ $c := "<ul>" }}
    {{ range $attachments }}
        {{ $n := index . "name" | default "(annotierter) Foliensatz" }}
        {{ with index . "link" }}
            {{ $url := urls.Parse . }}
            {{ if $url.Scheme }}
                {{ $url = $url.String }}
            {{ else }}
                {{ $url = $url.Path }}
                {{ with (strings.TrimPrefix "/" $.Page.File.Dir) }}
                    {{/* if not on "home" page: use path to file */}}
                    {{ $url = printf "%s/%s" . $url }}
                {{ end }}
                {{ $url = $url | path.Clean | absURL }}
            {{ end }}
            {{ $c = printf "%s <li><a href='%s' class='icon reading' target='_blank' rel='nofollow noopener noreferrer'>%s</a></li>" $c ($url | safeURL) $n }}
        {{ end }}
    {{ end }}
    {{ $c = printf "%s</ul>" $c }}

    {{ partial "shortcodes/notice.html" (dict
        "page" .
        "style" "info"
        "icon" "far fa-file-powerpoint"
        "title" $title
        "content" $c
    )}}

{{ end }}
