{{ $readings := .Params.readings }}
{{ $data := .Site.Data.readings.references }}

{{ if $readings }}

    {{ $c := "<ul>" }}
    {{ range sort $readings "key" }}
        {{ $key := index . "key" }}
        {{ $comment := index . "comment" }}

        {{ range where $data "id" $key }}
            {{ $title := index . "title" }}
            {{ $author := index . "author" }}
            {{ $url := index . "url" }}
            {{ $isbn := index . "isbn" }}
            {{ $doi := index . "doi" }}

            {{ $details := slice "" }}
            {{ range $i, $v := $author }}
                {{ if eq $i 0 }}
                    {{ $details = slice (delimit $v ", ") }}
                {{ else }}
                    {{ $details = $details | append (delimit $v ", ") }}
                {{ end }}
            {{ end }}
            {{ $details = delimit $details " und " }}
            {{ $details = slice ($details) }}
            {{ with index . "publisher" }}{{ $details = $details | append . }}{{ end }}
            {{ with index . "issued" }}{{ $details = $details | append . }}{{ end }}
            {{ $details = delimit $details ", " }}

            {{ $c = printf "%s <li id='id_%s'>" $c $key }}
            {{ if $url }}
                {{ $c = printf "%s[%s] <a href='%s' class='icon reading' target='_blank' rel='nofollow noopener noreferrer'><strong>%s</strong></a>" $c $key ($url | safeURL) $title }}
            {{ else }}
                {{ $c = printf "%s[%s] <strong>%s</strong>" $c $key $title }}
            {{ end }}
            {{ if $details }}
                {{ $c = printf "%s<br>%s." $c $details }}
                {{ if $isbn }}
                    {{ $c = printf "%s ISBN <a href='https://fhb-bielefeld.digibib.net/openurl?isbn=%s' class='icon reading' target='_blank' rel='nofollow noopener noreferrer'>%s</a>." $c ($isbn | safeURL) $isbn }}
                {{ end }}
                {{ if $doi }}
                    {{ $c = printf "%s DOI <a href='https://doi.org/%s' class='icon reading' target='_blank' rel='nofollow noopener noreferrer'>%s</a>." $c ($doi | safeURL) $doi }}
                {{ end }}
            {{ end }}
            {{ if $comment }}
                {{ $c = printf "%s<br><em>%s</em>" $c $comment }}
            {{ end }}
            {{ $c = printf "%s</li>" $c }}
        {{ end }}
    {{ end }}
    {{ $c = printf "%s</ul>" $c }}

    {{ partial "shortcodes/notice.html" (dict
        "context" .
        "style" "info"
        "icon" "fas fa-book-reader"
        "title" "Quellen"
        "content" $c
    )}}

{{ end }}
