{{ $outcomes := .Params.outcomes }}

{{ if (and $outcomes (reflect.IsSlice $outcomes)) }}    {{/* do not engage unless it's a list: workaround for use in lecture-cy */}}

    {{ $c := "<ul>" }}
    {{ range $outcomes }}
        {{ with index . "k1" }}{{ $c = printf "%s <li>(K1) %s</li>" $c (. | markdownify) }}{{ end }}
        {{ with index . "k2" }}{{ $c = printf "%s <li>(K2) %s</li>" $c (. | markdownify) }}{{ end }}
        {{ with index . "k3" }}{{ $c = printf "%s <li>(K3) %s</li>" $c (. | markdownify) }}{{ end }}
        {{ with index . "k4" }}{{ $c = printf "%s <li>(K4) %s</li>" $c (. | markdownify) }}{{ end }}
    {{ end }}
    {{ $c = printf "%s</ul>" $c }}

    {{ partial "shortcodes/notice.html" (dict
        "context" .
        "style" "tip"
        "icon" "fas fa-lightbulb"
        "title" "Lernziele"
        "content" $c
    )}}

{{ end }}
