{{ $outcomes := .Params.outcomes }}

{{ if (and $outcomes (reflect.IsSlice $outcomes)) }}
{{/* do not engage unless it's a list: workaround for use in lecture-cy */}}
<div class="outcomes">
    <h2>Lernziele</h2>

    <ul>
    {{ range $outcomes }}
        {{ with index . "k1" }}<li>{{ print "(K1) " }}{{ . | $.RenderString }}</li>{{ end }}
        {{ with index . "k2" }}<li>{{ print "(K2) " }}{{ . | $.RenderString }}</li>{{ end }}
        {{ with index . "k3" }}<li>{{ print "(K3) " }}{{ . | $.RenderString }}</li>{{ end }}
        {{ with index . "k4" }}<li>{{ print "(K4) " }}{{ . | $.RenderString }}</li>{{ end }}
    {{ end }}
    </ul>

</div>
{{ end }}
