{{- $page := .page }}
{{- $content := .content }}
{{- with $page }}
<article class="default">
{{ partial "heading-pre.html" . }}<h1>{{ .Title }}</h1>{{ partial "heading-post.html" . }}


{{ if .Params.sketch }}
    {{ partial "sketch.html" . }}
{{ else }}
    {{ partial "tldr.html" . }}

    {{ .Scratch.Set "videos_params" .Params.youtube }}
    {{ .Scratch.Set "videos_title" "Videos (YouTube)" }}
    {{ .Scratch.Set "videos_linktext" "Direkt-Link YouTube" }}
    {{ partial "videos.html" . }}

    {{ .Scratch.Set "videos_params" .Params.fhmedia }}
    {{ .Scratch.Set "videos_title" "Videos (FH-Medienportal)" }}
    {{ .Scratch.Set "videos_linktext" "Direkt-Link FH-Medienportal" }}
    {{ partial "videos.html" . }}

    {{ .Scratch.Set "attachments_title" "Slides" }}
    {{ partial "attachments.html" . }}

    {{ partial "outcomes.html" . }}

    {{ $content | safeHTML }}

    {{ partial "quizzes.html" . }}
    {{ partial "challenges.html" . }}
    {{ partial "assignments.html" . }}
    {{ partial "bib.html" . }}
{{ end }}


<footer class="footline">
{{- partial "content-footer.html" . }}
</footer>
</article>
{{- end }}
