{{- $page := .page }}
{{- $content := .content }}
{{- with $page }}
<article class="default">
{{ partial "heading-pre.html" . }}<h1>{{ .Title }}</h1>{{ partial "heading-post.html" . }}


{{ if .Params.sketch }}
    {{ partial "sketch.html" . }}
{{ else }}
    {{ .Scratch.Set "videos_params" .Params.youtube }}
    {{ .Scratch.Set "videos_title" "Videos" }}
    {{ .Scratch.Set "videos_linktext" "Direkt-Link YouTube" }}
    {{ partial "videos.html" . }}

    {{ .Scratch.Set "attachments_header" "Folien" }}
    {{ .Scratch.Set "attachments_level" 2 }}
    {{ partial "attachments.html" . }}

    <div class="recap">
        {{ $content | safeHTML }}
    </div>

    {{ partial "assignments.html" . }}
    {{ if .Params.outcomes }}
        {{ partial "outcomes.html" . }}
    {{ end }}
    {{ partial "quizzes.html" . }}
    {{ partial "bib.html" . }}
{{ end }}


<footer class="footline">
{{- partial "content-footer.html" . }}
</footer>
</article>
{{- end }}
