{{- $page := .page }}
{{- $content := .content }}
{{- with $page }}
<article class="default">
{{ partial "heading-pre.html" . }}<h1>{{ .Title }}</h1>{{ partial "heading-post.html" . }}


{{ if .Params.sketch }}
    {{ partial "sketch.html" . }}
{{ else }}
    {{ $content | safeHTML }}

    {{ partial "bib.html" . }}
    {{ partial "outcomes.html" . }}
    {{ partial "assignments.html" . }}
{{ end }}


<footer class="footline">
{{- partial "content-footer.html" . }}
</footer>
</article>
{{- end }}
