{{ $assignments := .Params.assignments }}
{{ .Scratch.Set "schedule" .Site.Data.schedule }}

{{ if $assignments }}
<div class="assignments">
    <h2>Übungsblätter/Aufgaben</h2>

    <ul>
    {{ range $assignments }}
        {{ $topic := index . "topic" }}
        {{ $.Scratch.Set "topic" $topic }}
        {{ with $.Site.GetPage $topic }}
            <li>
                <a href="{{- .Permalink | safeURL -}}"><strong>{{- .Title -}}</strong></a>
                {{ with partial "due.html" . }}{{ printf " (Abgabe: %s)" . }}{{ end }}
            </li>
        {{ end }}
    {{ end }}
    </ul>

</div>
{{ end }}
