{{ $assignments := .Params.assignments }}
{{ $schedule := .Site.Data.schedule }}

{{ if $assignments }}
<div class="assignments">
    <h2>Übungsblätter</h2>

    <ul>
    {{ range $assignments }}
        {{ $topic := index . "topic" }}
        {{ with $.Site.GetPage $topic }}
        <li>
            <a href="{{- .Permalink | safeURL -}}"><strong>{{- .Title -}}</strong></a>
            {{ range $schedule }}
                {{ range index . "assignment" }}
                    {{ if eq $topic (index . "topic") }}
                        {{ with index . "due" }}{{ printf " (Abgabe: %s)" . }}{{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
        </li>
        {{ end }}
    {{ end }}
    </ul>

</div>
{{ end }}
