{{ $attachments := .Params.attachments }}
{{ $pdf_files := .Resources.Match "files/*.pdf" }}

{{ $header := "Materialien" }}
{{ with .Scratch.Get "attachments_header" }}
    {{ $header = . }}
{{ end }}

{{ $level := 2 }}
{{ with .Scratch.Get "attachments_level" }}
    {{ $level = . }}
{{ end }}

{{ if or $attachments $pdf_files }}
<div class="attachments">
    <h{{- $level -}}>{{- $header -}}</h{{- $level -}}>

    <ul>
    {{ range $pdf_files }}
        {{ $fileUrl := printf "%s%s" $.Page.File.Dir . }}
        <li><a href="{{- $fileUrl | absURL | safeURL -}}" target="_blank" rel="nofollow noopener noreferrer"><strong>{{- path.Base .Title -}}</strong></a></li>
    {{ end }}

    {{ range $attachments }}
        {{ $n := "(annotierter) Foliensatz" }}
        {{ with index . "name" }}
            {{ $n = . }}
        {{ end }}

        {{ with index . "link" }}
            <li><a href="{{- . | safeURL -}}" target="_blank" rel="nofollow noopener noreferrer">{{- $n -}}</a></li>
        {{ end }}
    {{ end }}
    </ul>
</div>
{{ end }}
