{{ $attachments := .Params.attachments }}

{{ $header := .Scratch.Get "attachments_header" | default "Materialien" }}
{{ $level  := .Scratch.Get "attachments_level"  | default 2 }}


{{ if $attachments }}
<div class="attachments">
    <h{{- $level -}}>{{- $header -}}</h{{- $level -}}>

    <ul>
    {{ range $attachments }}
        {{ $n := index . "name" | default "(annotierter) Foliensatz" }}
        {{ with index . "link" }}
            {{ $url := urls.Parse . }}
            {{ if $url.Scheme }}
                {{ $url = $url.String }}
            {{ else }}
                {{ $url = printf "%s/%s" $.Page.File.Dir $url.Path | path.Clean | relURL }}
            {{ end }}
            <li><a href="{{- $url | safeURL -}}" target="_blank" rel="nofollow noopener noreferrer">{{- $n -}}</a></li>
        {{ end }}
    {{ end }}
    </ul>

</div>
{{ end }}
