{{ $tldr := .Params.tldr }}
{{ $yt := .Params.youtube }}
{{ $fh := .Params.fhmedia }}
{{ $attachments := .Params.attachments }}

{{ if (or $tldr (or $attachments (or $yt $fh))) }}
<div class="tldr">
    <h2>TL;DR</h2>

    {{ with $tldr }}
        {{ . | $.RenderString }}
    {{ end }}

    {{ if $yt }}
        <h3>Videos (YouTube)</h3>
        {{ .Scratch.Set "params" $yt }}
        {{ .Scratch.Set "linktext" "Direkt-Link YouTube" }}
        {{ partial "videos.html" . }}
    {{ end }}

    {{ if $fh }}
        <h3>Videos (FH-Medienportal)</h3>
        {{ .Scratch.Set "params" $fh }}
        {{ .Scratch.Set "linktext" "Direkt-Link FH-Medienportal" }}
        {{ partial "videos.html" . }}
    {{ end }}

    {{ if $attachments }}
        {{ .Scratch.Set "attachments_header" "(Annotierte) Folien" }}
        {{ .Scratch.Set "attachments_level" 3 }}
        {{ partial "attachments.html" . }}
    {{ end }}

</div>
{{ end }}
