{{ $plan := .Site.Data.schedule }}

{{ if and (.Get "type") (.Get "type" | eq "list") }}
<div class="schedule">
    <ul>
    {{ range $i, $week := $plan }}
        {{ $date := index $week "date" }}
        {{ $lecture := index $week "lecture" }}
        {{ $assignment := index $week "assignment" }}
        <li>
        Woche &nbsp; {{- add $i 1 -}} &nbsp; ({{- $date -}}):
        {{ range $lecture }}
            {{ $topic := index . "topic" }}
            {{ $leader := index . "leader" }}
            {{ $notes := index . "notes" }}
            <br>
            {{ with $.Site.GetPage $topic }}
                {{ $path := replace (strings.TrimSuffix "/" .File.Dir | path.Dir) "/" " > " | upper }}
                {{if gt (len $path) 1}}
                    {{- printf "%s > " $path -}}
                {{end}}
                <a href="{{- .Permalink | safeURL -}}"><strong>{{- .Title -}}</strong></a>
            {{ end }}
            {{ if $leader }} ({{- $leader -}}) {{ end }}
            {{ if $notes }}<br><em>Hinweis: &nbsp; {{- $notes -}}</em>{{ end }}
        {{ end }}
        {{ range $assignment }}
            {{ $title := index . "title" }}
            {{ $due := index . "due" }}
            {{ with $.Site.GetPage $title }}
                <br>
                <a href="{{- .Permalink | safeURL -}}"><strong>{{- .Title -}}</strong></a>
                (Abgabe: &nbsp; {{- $due -}})
            {{ end }}
        {{ end }}
        </li>
    {{ end }}
    </ul>
</div>
{{ else }}
<div class="schedule">
    <table>
    <thead>
        <tr>
        <th>Woche</th>
        <th>Vorlesung</th>
        <th>Aufgabenblatt</th>
        </tr>
    </thead>
    <tbody>
    {{ range $i, $week := $plan }}
        {{ $date := index $week "date" }}
        {{ $lecture := index $week "lecture" }}
        {{ $assignment := index $week "assignment" }}
        <tr>
            <td>Woche &nbsp; {{- add $i 1 -}} &nbsp; ({{- $date -}})</td>
            <td>
            <ul>
            {{ range $n, $l := $lecture }}
                {{ $topic := index $l "topic" }}
                {{ $leader := index $l "leader" }}
                {{ $notes := index $l "notes" }}
                <li>
                {{ with $.Site.GetPage $topic }}
                    {{ $path := replace (strings.TrimSuffix "/" .File.Dir | path.Dir) "/" " > " | upper }}
                    {{if gt (len $path) 1}}
                        {{- printf "%s > " $path -}}
                    {{end}}
                    <a href="{{- .Permalink | safeURL -}}"><strong>{{- .Title -}}</strong></a>
                {{ end }}
                {{ if $leader }} ({{- $leader -}}) {{ end }}
                {{ if $notes }}<br><em>Hinweis: &nbsp; {{- $notes -}}</em>{{ end }}
                </li>
            {{ end }}
            </ul>
            </td><td>
            {{ range $assignment }}
                {{ $title := index . "title" }}
                {{ $due := index . "due" }}
                {{ with $.Site.GetPage $title }}
                <p>
                    <a href="{{- .Permalink | safeURL -}}"><strong>{{- .Title -}}</strong></a>
                    (Abgabe: &nbsp; {{- $due -}})
                </p>
                {{ end }}
            {{ end }}
            </td>
        </tr>
    {{ end }}
    </tbody>
    </table>
</div>
{{ end }}
