{{ $plan := .Site.Data.schedule }}

{{ if $plan }}
<div class="schedule">
    <table>
    <thead>
        <tr>
        <th>Woche</th>
        <th>Vorlesung</th>
        <th>Praktikum/Übung</th>
        {{ $ifmisc := false }}
        {{ range $plan }}
            {{ with index . "misc" }}{{ $ifmisc = true }}{{ end }}
        {{ end }}
        {{ with $ifmisc }}<th>Verschiedenes</th>{{ end }}
        </tr>
    </thead>
    <tbody>
    {{ range $i, $w := $plan }}
        {{ $week := index $w "week" }}
        {{ $lecture := index $w "lecture" }}
        {{ $assignment := index $w "assignment" }}
        {{ $misc := index $w "misc" }}
        <tr>
            <td>{{ printf "Woche %d (%s)" (add $i 1) $week }}</td>
            <td>
            <ul>
            {{ range $n, $l := $lecture }}
                {{ $topic := index $l "topic" }}
                {{ $leader := index $l "leader" }}
                {{ $notes := index $l "notes" }}
                <li>
                {{ with $.Site.GetPage $topic }}
                    {{ $path := replace (strings.TrimSuffix "/" .File.Dir | path.Dir) "/" " > " | upper }}
                    {{if gt (len $path) 1}}{{ printf "%s > " $path }}{{end}}
                    <a href="{{- .Permalink | safeURL -}}"><strong>{{- .Title -}}</strong></a>
                {{ end }}
                {{ if $leader }}{{ printf " (%s)" $leader }}{{ end }}
                {{ if $notes }}<br><em>{{ printf "Hinweis: %s" $notes }}</em>{{ end }}
                </li>
            {{ end }}
            </ul>
            </td><td>
            {{ range $assignment }}
                {{ $topic := index . "topic" }}
                {{ $due := index . "due" }}
                {{ with $.Site.GetPage $topic }}
                <p>
                    <a href="{{- .Permalink | safeURL -}}"><strong>{{- .Title -}}</strong></a>
                    {{ if $due }}<br>(Abgabe: {{- $due -}}){{ end }}
                </p>
                {{ end }}
            {{ end }}
            </td><td>
            {{ range $misc }}
                {{ $page := index . "page" }}
                {{ $notes := index . "notes" }}
                {{ if $page }}
                    {{ with $.Site.GetPage $page }}
                        <p><a href="{{- .Permalink | safeURL -}}"><strong>{{- $notes | default .Title -}}</strong></a></p>
                    {{ end }}
                {{ else if $notes }}
                    <p>{{- $notes | markdownify -}}</p>
                {{ end }}
            {{ end }}
            </td>
        </tr>
    {{ end }}
    </tbody>
    </table>
</div>
{{ end }}
