{{- $page := .page }}
{{- $content := .content }}
{{- with $page }}
<article class="default">
{{ partial "heading-pre.html" . }}<h1>{{ .Title }}</h1>{{ partial "heading-post.html" . }}


{{ .Scratch.Set "topic" (.Page.File.Dir | path.Base) }}
{{ if ne .Page.File.BaseFileName "index" }}
    {{ .Scratch.Set "topic" .Page.File.BaseFileName }}
{{ end }}
{{ .Scratch.Set "schedule" .Site.Data.schedule }}
{{ $due := partial "due.html" . }}
{{ $points := .Params.points }}


{{ if .Params.sketch }}
    {{ partial "sketch.html" . }}
{{ else }}
    {{ if and $points $due}}
        <p><strong>{{- printf "(Punkte: %d, Abgabe: %s)" $points $due -}}</strong></p>
    {{ else if $points }}
        <p><strong>{{- printf "(Punkte: %d)" $points -}}</strong></p>
    {{ else if $due }}
        <p><strong>{{- printf "(Abgabe: %s)" $due -}}</strong></p>
    {{ else }}
    {{ end }}

    {{ $content | safeHTML }}
{{ end }}


<footer class="footline">
{{- partial "content-footer.html" . }}
</footer>
</article>
{{- end }}
